* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dad8d8;
}

.content {
  background-color: #ffffff;
  border-radius: 15px;
  width: 960px;
  height: 60%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before {
  content: '';
  position: absolute;
  background-color: #b60c42;
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  left: 60%;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.title-primary {
  color: #ffffff;
}

.title-second {
  color: #b60c42;
}

.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.description-primary {
  color: #ffffff;
}

.description-second {
  color: #7f8c8d;
}

.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top: 1rem;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #b60c42;
}

.btn-second {
  background-color: #b60c42;
  border: 1px solid #b60c42;
}

.btn-second:hover {
  background-color: #ffffff;
  border: 1px solid #b60c42;
  color: #b60c42;
}

.first-content {
  display: flex;
  display: none;

}

.first-column {
  text-align: center;
  flex: 1 0 auto;
  z-index: 10;
}

.second-column {
  flex: 2 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  margin: 1rem 0;
}

.link-social-media:not(:first-child) {
  margin-left: 10px;
}

.link-social-media:hover .item-social-media {  
  background-color: #b60c42;
  color: #ffffff;
  border-color: #b60c42;
}

.list-social-media {
  display: flex;
  list-style: none;
}

.item-social-media {
  border: 1px solid #bdc3c7;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #95a5a6;
  
}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.form input {
  height: 45px;
  border: none;
  background-color: #ecf0f1;
  width: 100%;
  align-items: center;
}

.label-input {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
}

.icon-modify {
  color: #7f8c8d;
  padding: 0 8px;
}

/* second-content */
.second-content {
  position: absolute;
  display: flex;
}

.second-content .first-column {
  order: 2;
}

.second-content .second-column {
  order: 1;
}

.password {
  color: #34495e;
  font-size: 14px;
  margin: 16px 0;
  text-align: center;
}

.password::first-letter {
  text-transform: capitalize;
}